:root{
    
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);

}
*{
    margin:0;
    box-sizing: border-box;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    background-color:var(--Dark-Slate-Grey);
    font-size:16px;
}
h1{

    margin-bottom:1.6rem;
}
#subtitle{

    margin: 1rem;
}
.update-list{
    /* margin:1rem; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
    gap:1rem;
    width:90%;
    
}
.update-list-item{
    display:flex;
    justify-content: center;
    gap:.5rem;

}
#email-input{
    width:100%;
     height:2.5rem;
     margin-bottom:1rem; 
     border-color:var(--Charcoal-Grey);
     border-radius: .5rem;
     cursor:pointer;
}
button{
    color:white;
    background-color:var(--Dark-Slate-Grey);
    padding: 1rem;
    border:none;
    border-radius:.5rem;
    transition:0.5s;
    cursor:pointer;
    
}

button:hover{
    background:var(--Tomato);
    opacity:0.8;
}

button:active{
    opacity:0.4;
}


form{
    display: flex;
    flex-direction:column;
  
    justify-content:center;
    width:90%;
    /* height:30%; */
    padding:1rem;

}



.sign-up-content{
    display:flex;
    flex-direction:column;
   
    height:90%;
    margin:1rem 0;
    /* justify-content: center; */
    align-items:center;
}

.sign-up-wrapper{
    display:flex;
    background-color: var(--White);
    width:820px;
    height:500px;
    border:2px solid var(--White);
    border-radius:1rem;
    margin: 7rem 20rem;
    
    
}

.sign-up-form{
    flex:0.6;
    height:95%;
    margin:10px;

}

.illustration{
    background:url('./assets/images/illustration-sign-up-desktop.svg') center/cover;
    /* background-position: center; */
    flex: 0.4;
    height:95%;
    /* border:2px solid red; */
    margin:10px;
    border-radius:12px;
    
    
}

#success-message{
    display:flex;
    flex-direction: column;
    background-color: var(--White);
    width:300px;
    height:300px;
    border:2px solid var(--White);
    border-radius:1rem;
    margin: 0 auto;
    padding:1rem;
    position: relative;
    top:-30rem;
    gap:1rem;
    

    
}

#success-message h2{
    color:var(--Dark-Slate-Grey);

}

